#cloud-config
users:
  - name: root
    ssh_authorized_keys:
      - ${ssh_public_key}
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_public_key}
